*{
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    display: flex;
    justify-content: end;
    gap: 40px;
    padding: 50px;
    height: 17%;
   
}
h3{
   font-weight: 500;
}
#nav i{
   padding: 5px;
   background-color: black;
   color: white;
}
#top {
    height: 57%;
}
#top h1{
    font-weight: 500;
    font-size: 50px;
    padding: 40px;
}
#center{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
#left{
   padding: 40px;
}
#right{
    padding-right: 40px;
    width: 20%;
}
.elem{
    
    margin: 10px;
    font-weight: 600;
    font-size: 20px;
    border-top: 2px solid;
    display: flex;
    justify-content: space-between;
    
}
#right a{
    line-height: 40px;
    text-decoration: none;
    font-weight: 600;
    color: black;

}
#right i{
    font-weight: 500;
    font-size: 30px;
    opacity: 0;
   
}
#right .elem:hover i{
    opacity: 1;
}
.elem:hover {
  background-color: rgb(247, 245, 243);
}
#bottom{
    height: 35%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1483181957632-8bda974cbc91?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

